@font-face {
  font-family: "League Spartan";
  src: url("./LeagueSpartan-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Lato';
  src: url('./LatoLatin-Regular.woff2') format('woff2'),
  url('./LatoLatin-Regular.woff') format('woff');
}
